In [65]:
import mysql.connector
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
# variables
user = 'erwan'
host = 'localhost'
password = 'root'
database = 'netflix'

In [58]:
# connexion Ã  la base
conn = mysql.connector.connect(user=user, host=host, password=password, database=database)
cursor = conn.cursor()

In [59]:
sql = """
SELECT * FROM shows JOIN allWeeksCountries ON shows.id_show=allWeeksCountries.id_show JOIN countries ON countries.id_country=allWeeksCountries.id_country
;

"""
cursor.execute(sql)
res = cursor.fetchall()

In [60]:
df = pd.DataFrame(res)
df.columns

RangeIndex(start=0, stop=13, step=1)

In [61]:
df = df.drop([0, 4, 5, 8, 9, 10, 12], axis=1)

In [62]:
df = df.rename(columns={1:'categorie', 2:'titre', 3:'saison', 6:'date', 7:'weekly rank', 11:'pays'})

In [63]:
df['date'] = pd.to_datetime(df['date'])
df = df.set_index('date', drop=True)

In [74]:
df.head()

           categorie                titre saison  weekly rank       pays
date
2022-02-27     Films             Restless                   1  Argentina
2022-02-27     Films     Parallel Mothers                   2  Argentina
2022-02-27     Films        Lost Paradise                   3  Argentina
2022-02-27     Films           Abominable                   4  Argentina
2022-02-27     Films  The Tinder Swindler                   5  Argentina

In [ ]:
df